boto==2.36.0
boto3==1.4.0
botocore==1.4.49
decorator==4.0.10
Django==1.9.7
django-debug-toolbar==1.4
docutils==0.12
filechunkio==1.8
futures==3.0.5
imageio==1.6
jmespath==0.9.0
moviepy==0.2.2.11
numpy==1.11.2
psycopg2==2.6.1
python-dateutil==2.5.3
requests==2.11.1
s3transfer==0.1.7
six==1.10.0
sqlparse==0.1.19
stripe==1.40.0
tqdm==4.8.4
